* {
    box-sizing: border-box;
  }
  
.body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.index {
    display: grid;
    grid: "header" auto "index" 1fr "footer" auto / 1fr;
    background-color: #D8D8D8;
    min-height: 100vh;
}

.container {
    grid-area: index;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container h3 {
  text-align: center;
}


.container hr {
    margin-bottom: 20px;
    border-color: rgb(255, 20, 59);
    border-width: 1px;
}

.container th {
    text-align: left;
    margin-bottom: 20px;
}

.btn.btn-dark {
    background-color: #25d366;
    color:black;
    font-weight: bold;
}

.btn.btn-dark:hover {
    background-color: #075E54;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

/* Sobre Nós START */

.containerTeam {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }
  
  .containerTeam p {
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 3px;
    margin-bottom: 1px;
  }
  
  .containerTeam img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  /* Sobre Nós END */

  /* fale-conosco FOR START */

  input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #F1FAEE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
    display: block;
  }
  
  input[type=submit], input[type=reset] {
    background-color: #1D3557;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }

  .containerForm {
    width: 900px;
    border-radius: 5px;
    background-color: #457B9D;
    padding: 20px;
  }

  .containerForm label {
    display: block;
    color: #F1FAEE;
    font-size: 15pt;
  }

  .erro {
    color: red;
    display: block;
    text-align: right;
  }

    /* fale-conosco FOR END */

    .btn.btn-dark {
      margin-top: 20px;
      background-color: #25d366;
      color:black;
      font-weight: bold;
  }
  
  .btn.btn-dark:hover {
      background-color: #075E54;
      color:rgb(255, 255, 255);
      font-weight: bold;
  }


      /* CLIMA APP START */

      .topoClima h1 {
        color: #1D3557;
        font-size: 3rem;
      }
      
      .topoClima h4 {
        color: #1D3557;
        font-size: 2rem;
        justify-content: center;
        display: flex;
        padding-bottom: 10px;
      }
      
      .topoClima h5 {
        color: #1D3557;
        font-size: 1.5rem;
        justify-content: center;
        display: flex;
        font-weight: 700;
      }
      
      .finalClima h6 {
        color: #1D3557;
        font-size: 1.3rem;
        justify-content: center;
        display: flex;
      }
      
      .finalClima p {
        color: #1D3557;
        font-size: 1.3rem;
        justify-content: center;
        display: flex;
        padding: 0%;  
      }
      
      .final .bold p {
        font-weight: bold;
      }
      
      .final {
        display: flex;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
      }

      .search {
        display: flex;
        align-items: center;
        padding-bottom: 50px;
      }
      
      .app input {
        padding: .7rem 1.5rem;
        font-size: 1.2rem;
        border-radius: 25px;
        border: 2px solid #E63946;
        background: rgba(255,255,255, 0.1);
        color: #1D3557;
      }
      
      ::placeholder {
        color: #1D3557;
      }

      .btn.btn-success {
        background-color: #1D3557;
        border-radius: 25px;
        margin-left: 10px; 
        justify-content: center;
        align-items: center;
      }


      /* CLIMA APP END */